[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pypdf = "*"
bs4 = "*"
pandas = "*"
geopy = "*"
googlemaps = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
